body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('pexels-nietjuh-776654.jpg');
    /* Add your background image path here */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    background-size: cover;
    /* Ensures the image covers the entire viewport */
    background-position: center;
    /* Centers the background image */
    font-family: Arial, sans-serif;
}

.welcome-container {
    text-align: center;
    color: white;
    /* Change text color for better visibility against the background */
}

.logo {
    width: 200px;
    /* Adjust size as needed */
    height: auto;
    margin: 20px 0;
   
    /* Space between title and logo */
}
 .start-button {
    padding: 10px 20px; /* Button padding */
    font-size: 16px; /* Button font size */
    margin-top: 20px; /* Space above button */
    cursor: pointer; /* Change cursor on hover */
    background:black;
    color: white; /* Text color */
    text-decoration: none; /* Remove underline from link */
    border-radius: 5px ; /* Rounded corners */
    align-items: center;
    position: absolute; /* Position it absolutely within the container */
    bottom: 50px; /* Position from the bottom of the container */
    left: 50%; /* Center horizontally in the container */
    transform: translateX(-50%); /* Adjust to center it perfectly */
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
      border:2px solid goldenrod;
}
 
.powered-by {
    position: absolute;
    bottom: 20px;
    /* Position from bottom */
    right: 20px;
    /* Position from right */
    font-size: 14px;
    /* Font size for powered by text */
    color:;
    /* Color for text */
}
 